---
interface Props {
	seoTitle: string;
	seoDescription: string;
	bodyClasses?: string;
}

import "../styles/app.css";

const siteName = "Mister©";

const { seoTitle, seoDescription, bodyClasses } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>{seoTitle}</title>
		<meta name="description" content={seoDescription} />
		<meta property="og:locale" content="en_GB" />
		<meta property="og:title" content={seoTitle} />
		<meta property="og:site_name" content={siteName} />
		<meta property="og:url" content={Astro.url.href} />
		<meta property="og:description" content={seoDescription} />
		<!-- todo: Add seo image
		<meta property="og:image" content="/seo/twitter-ganni.jpg" />
		<meta property="og:image:width" content="1200" />
		<meta property="og:image:width" content="630" />
		<meta name="twitter:card" content="summary_large_image" /> 
		-->
		<meta name="twitter:title" content={seoTitle} />
		<meta name="twitter:description" content={seoDescription} />
		<!-- todo: Add seo image
		<meta name="twitter:image:src" content="/seo/twitter-ganni.jpg" />
		<meta name="twitter:image:width" content="1200" />
		<meta name="twitter:image:height" content="600" /> 
		-->
		<!-- todo: add sitemap
		<link rel="sitemap" href="/sitemap-index.xml" /> 
		-->

		<style is:inline>
			[x-cloak] {
				display: none !important;
			}
		</style>
		<script src="../scripts/app.js"></script>
	</head>
	<body class={bodyClasses}>
		<slot />
	</body>
</html>
